xsettingsd/
xournalpp/
user-dirs.locale
user-dirs.dirs
trashrc
Code/
KDE/
Mechvibes/
OwOverlay/
Notion/
QtProject.conf
Trolltech.conf
YouTube Music/
arkrc
configstore/
dconf/
discord/
dolphinrc
eww-bar/
go/
gtk-3.0/
gtk-4.0/
gtkrc
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalarmrc
kate-externaltoolspluginrc
kate/
katerc
katevirc
kclockrc
kcminputrc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kid3rc
kminesrc
konq_history
konquerorrc
konsolerc
konsolesshconfig
kscreenlcokerrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
lazygit/
libaccounts-glib/
mimeapps.list
minimalistic-reader/
mpd/
ncmpcpp/
notion-app-enhanced/
nwg-look/
obs-studio/
obsidian/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/
ranger/
rofi/
session/
.avalonia-build-tasks/
Google/
PlasmaUserFeedback
baloofilerc
gtkrc-2.0
kscreenlockerrc
kconf_updaterc
pupgui/
heroic/
btop/
emaildefaults
okularrc
